bin/*
/dist

# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so

# Test binary, build with `go test -c`
*.test
*.test~

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Ignore the vendor folder so dependencies must be restored when a fresh repo is cloned before a build can be done
# Use `dep ensure` to restore the dependencies, then build with `go build`
vendor/
